.lightcolor {
    color: #dddddd;
}

.imgshadow {
    border: none;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.80) !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container img {
    width: 100%;
}

.col {
    flex: 1;
    padding: 0 2% !important;
}

.col-img {
    flex: 3;
    padding: 0 2% !important;
}

.col-text {
    flex: 2;
    padding: 0 2% !important;
}

.attribution {
    font-size: 0.45em !important;
}

.bottom-left {
    position: fixed;
    bottom: 3%;
    left: 2%;
}

.bottom-right {
    position: fixed;
    bottom: 3%;
    right: 2%;
}

/* Reveal tweaks
 * ************************************************************************* */

.reveal {
    font-size: 70px;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
    margin: 0;
    max-width: none;
    max-height: none;
}

.reveal section video {
    margin: 0;
    max-width: none;
    max-height: none;
}

.reveal ul.fa-ul {
    list-style-type: none;
}

.reveal ul.fa-ul li {
    margin-bottom: 5%;
}

.reveal h1, .reveal h2, .reveal h3  {
    text-shadow: 2px 3px 3px #00000055 !important;
}

.shadow, .reveal h4 {
    text-shadow: 1px 1px 1px #00000055 !important;
}

section.has-light-background h1 {
    color: #333333;
}

.reveal h3 {
	text-transform: none;
}

.reveal ul {
    font-size: 0.7em;
    text-align: left;
}

.reveal li {
    margin-bottom: 5%;
}
